<div class="card">
  <div class="card-body">
    <h4 class="card-title">Suggest a Riff! (model driven form)</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="alert alert-info alert-dismissible " role="alert" *ngIf="riffFormSubmitted">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="riffFormSubmitted = false" (click)="riffForm.reset()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <strong>Boom! Riff form submitted.... The world just got that little bit more angular!</strong>
        </div>
        <form *ngIf="!riffFormSubmitted" novalidate [formGroup]="riffForm">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="riffTitle" [ngClass]="{'is-invalid': riffTitle.errors && (riffTitle.touched || riffTitle.dirty), 'is-valid':riffTitle.valid}">
            <div class="alert alert-danger" role="alert"
             *ngIf="riffTitle.errors && (riffTitle.touched || riffTitle.dirty)">
               <strong *ngIf="riffTitle.errors?.required">A riff needs a title, fer crying out loud</strong>
               <strong *ngIf="riffTitle.errors?.pattern">Riff titles can't start with a space or a symbol, duh</strong>
            </div>
          </div>
          <div class="form-group ">
            <label>Purveyor</label>
            <input type="text" class="form-control" formControlName="riffPurveyor" [ngClass]="{'is-invalid': riffPurveyor.errors && (riffPurveyor.touched || riffPurveyor.dirty), 'is-valid':riffPurveyor.valid}">
            <div class="alert alert-danger" role="alert"
             *ngIf="riffPurveyor.errors && (riffPurveyor.touched || riffPurveyor.dirty)">
               <strong *ngIf="riffPurveyor.errors?.required">Someone purveyed the riff, not nobody!</strong>
               <strong *ngIf="riffPurveyor.errors?.pattern">Riff purveyors can't start with a space or a symbol, duh</strong>
            </div>
          </div>
          <!-- <div class="form-group ">
            <label>Angularity (out of 10)</label>
            <input type="text" class="form-control">
          </div> -->
          <div class="form-group ">
            <label>Angularity (out of 10)</label>
            <select class="form-control" formControlName="riffAngularity" [ngClass]="{'is-invalid': riffAngularity.errors && (riffAngularity.touched || riffAngularity.dirty), 'is-valid':riffAngularity.valid}">
              <option *ngFor="let angLevel of angLevels" [value]="angLevel">{{angLevel}}</option>
            </select>
            <div class="alert alert-danger" role="alert"
             *ngIf="riffAngularity.errors && (riffAngularity.touched || riffAngularity.dirty)">
              Angularity must be between 1 and 10, yo!
            </div>
          </div>
          <button type="submit" [disabled]="riffForm.invalid" class="btn btn-primary" (click)="addRiff(riffForm.value)">Submit</button>
          <button class="btn btn-default" (click)="riffForm.reset()">Reset</button>
        </form>
        <!-- <pre > {{riffForm.value | json}} </pre> -->
      </div>
    </div>
  </div>
</div>
