<div class="card bg-secondary text-white">
  <div class="card-body">
    <h4 class="card-title">"{{riff.riffTitle}}"</h4>
    <h5 class="card-text">{{riff.riffAngularity}} out of 10 for angularity</h5>
  </div>
  <table class="table">
    <!-- <tr>
      <td scope="row">
        <b>Genre</b>
      </td>
      <td>
        <i class="fa fa-laptop fa-2x" aria-hidden="true" *ngIf="product.productType=='Laptop'"></i>
        <i class="fa fa-mobile fa-2x" *ngIf="product.productType=='Mobile'" aria-hidden="true"></i>
      </td>
    </tr> -->
    <tr>
      <td scope="row">
        <b>Riff Purveyor</b>
      </td>
      <td>{{riff.riffPurveyor}}</td>
    </tr>
  </table>
</div>
